<div *ngIf="viewMode; else editable">
    <div *ngIf="currentOffer.id">
        <h4>Offer</h4>
        <div>
            <label><strong>Title:</strong></label> {{ currentOffer.title }}
        </div>
        <div>
          <label><strong>Description:</strong></label>
          {{ currentOffer.description }}
        </div>
        <div>
            <label><strong>Price:</strong></label>
            {{ currentOffer.price }}
        </div>
        <div>
            <label><strong>Category:</strong></label>
            {{ currentOffer.category_name }}
        </div>
        <div>
            <label><strong>Created aty:</strong></label>
            {{ currentOffer.created_at}}
        </div>
        <a class="badge badge-warning" routerLink="/offers/{{ currentOffer.id }}">
        Edit Offer
        </a>
    </div>
    <div *ngIf="!currentOffer">
        <br/>
        <p>Please click on an Offer...</p>
    </div>
</div>



<ng-template #editable>
    <div *ngIf="currentOffer.id" class="edit-form">
      <h4>Offer</h4>
      <form>
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" [(ngModel)]="currentOffer.title" name="title"
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description" [(ngModel)]="currentOffer.description" name="description"
          />
        </div>
      </form>
    
        <button class="badge badge-danger mr-2" (click)="deleteOffer()">
            Delete
        </button>
      <p>{{ message }}</p>
    </div>
    <div *ngIf="!currentOffer.id">
      <br />
      <p>Cannot access this Offer...</p>
    </div>
  </ng-template>